USE [master]
GO
/****** Object:  Database [testArca]    Script Date: 10/27/2019 12:22:28 AM ******/
CREATE DATABASE [testArca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testArca', FILENAME = N'G:\Work\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\testArca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testArca_log', FILENAME = N'G:\Work\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\testArca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testArca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testArca]
GO
/****** Object:  Table [dbo].[Patrons]    Script Date: 10/27/2019 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrons](
	[patron_id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_type] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[home_phone] [varchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[patron_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 10/27/2019 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[tag_id] [bigint] IDENTITY(1,1) NOT NULL,
	[entry_type] [varchar](50) NULL,
	[from_location] [varchar](50) NULL,
	[to_location] [varchar](50) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 10/27/2019 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[vehicle_id] [bigint] IDENTITY(1,1) NOT NULL,
	[tag_number] [bigint] NOT NULL,
	[plate_number] [varchar](50) NULL,
	[car_make] [varchar](50) NULL,
	[car_model] [varchar](50) NULL,
	[car_year] [varchar](50) NULL,
	[car_color] [varchar](50) NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
